html {
  height: 100%;
  width: 100%;
}

body {
    max-width: 960px;
    margin: 0 auto;
    text-align: center; 
}

header{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 35px;
    padding: 2px;
    text-align: center;
}

nav li {
    padding: 30px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    border: solid;
    color: white;
}

.home_card{
  border: 10px solid #ffffff;
}

.img_choco{
  border: 10px solid #ffffff;
}

.img_icing{
  border: 10px solid #ffffff;
}

.img_cinnamon{
  border: 10px solid #ffffff;
}

.home_card:hover {
  transform: scale(1.10, 1.10);
  border: 10px solid #fff995;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.Chocolate{
  text-align: center;
  font-family: 'Rubik Bubbles', cursive;
  color: white;
}

.Cinnamon{
  text-align: center;
  font-family: 'Rubik Bubbles', cursive;
  color: white;
}

.Icing{
  text-align: center;
  font-family: 'Rubik Bubbles', cursive;
  color: white;
}

ul{
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
}

h1{
  font-family: 'Rubik Bubbles', cursive;
  color: white;
}

h2{
  font-family: 'Rubik Bubbles', cursive;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fff995;
  transform: scale(1.30, 1.30);
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}