html {
  height: 100%;
  width: 100%;
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: rgba(247, 157, 92, 0.3);
}

#homepage {
    background: linear-gradient(to top, rgba(0,0,0,0.1), #cccccc), url(cookies.PNG);
    background-size: cover;
    background-position: center;
}

#title {
    color: #a20021;
    font-size: 170px;
    display: flex;
    justify-content: center;
    text-shadow: 6px 6px 9px #f79d5c;
    margin-bottom: 30px;
}

h1, h2 {
    font-family: 'Forum', cursive;
}

section, article, nav, footer {
    font-family: 'Karla', sans-serif;
}

ul {
    list-style: none;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -30px;
}

ol {
    text-decoration: none;
    list-style: none;
}

li a {
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    color: black;
}

.navlinks {
    margin-top: 15px;
}

.navlinks a.active {
    background-color: #d60a33;
    color: #ededf4;
    border-radius: 5px;
}

.navlinks a:hover {
    background-color:  #bababa;
    color: black;
    border-radius: 5px;
}

h1 {
    margin: 30px, 0px;
    font-weight: 900;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #d60a33;
}

.page-titles {
    text-shadow: 2px 2px 4px #d60a33;
    font-size: 50px;
    margin-top: 10px;
}

.ingredients_container {
    display: flex;
    justify-content: center;
}

.ingredients_container section {
    flex: 1;
}

#dcc_ingredients {
    margin-right: 30px;
}

#ffc_ingredients {
    margin-left: 30px;
}

.ingredients_title {
    font-weight: 600;
    display: flex;
    justify-content: center;
}

ingredients_title section {
    flex: 1;
}

#dcc {
    margin-right: 40px;
}

#ffc {
    margin-left: 40px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

iframe {
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* for the revolving text on index page */
#scroll-container {
    height: 100%;
    overflow: hidden;
    color: #a20021;
    text-shadow: 2px 2px 4px #ededf4;
    font-weight: 800;
    font-size: 25px;
    padding: 15px;
    margin-top: 54px;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* for the revolving slideshow on locations page */
.parent {
    height: 100px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.element {
    float: left;
    height: 500px;
    width: 716px;
    text-align: center;
}

.slides {
    width: calc(716px * 4);
    animation: slideShow 18s ease infinite;
}

.element:nth-child(1) {
    font-size: 30;
    color: #a20021;
}
    
.element:nth-child(2) {
    font-size: 30;
    color: #a20021;
}

.element:nth-child(3) {
    font-size: 30;
    color: #a20021;
}

.element:nth-child(4) {
    font-size: 30;
    color: #a20021;
}

@keyframes slideShow {
    20% {margin-left: 0px;}
    40% {margin-left: calc(-716px * 1);}
    60% {margin-left: calc(-716px * 2);}
    80% {margin-left: calc(-716px * 3);}
}

#messages {
    text-shadow: 0.5px 0.5px 1px #a20021;
}

#link {
    color: black;
}

.logo {
    margin-left: 45px;
    margin-top: 10px;
}

/* for links on the index page - animation */
.button_slide {
    color: #a20021;
    border: 4px solid #a20021;
    border-radius:15px;
    padding: 14px 30px;
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f79d5c;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #f79d5c;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#product-picture {
    text-align: center;
}

/* for the instagram logo in the footer */
.fa {
    padding-left: 20px;
    padding-right: 5px;
    font-size: 20px;
    text-decoration: none;
}

.fa-instagram {
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* for the slideshow of location photos on the locations page */
.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #d60a33;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #bababa;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.form {
    width: 960px;
    height: 600px;
    border: none;
}
