html {
  height: 100%;
  width: 100%;
}

a:link{
  background-color: transparent;
  text-decoration: none;
}
a{
  color:#0d0d0d
}
body {
  background-color:#f6ed6f;
  background-repeat: no-repeat;
  background-size: cover;
  color:#000000;

  margin: 0 auto;

}


header{
  padding: 30px;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#ffffff ;
  padding: 10px;
  margin-bottom: 70px;
  border-radius: 25px;
  width: 700px;
  margin: auto;
}

h1{
  text-align: center;
}
nav a {
    text-decoration: none; /* remove the underline */
    color: #1a1a1a;
    padding: 10px;
    text-align: center; /* center the text */
}

p {  
  text-align: center;
  font-size: 210%;
}

/* Flexbox the main three cards a row */
main {
    display: flex;
    flex-wrap: wrap;    /* split items onto next row */
    justify-content: space-between;
}

.group%20photo.jpg{
  display: flex;
  justify-content: flex-start;
  padding-top: 5%;
}